<html>
  <head>
    <meta charset='utf-8'>
    <title>WIZARD SALON</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type='text/css'>
  </head>
  <body>
    <div id="h1bg">
      <h1>WIZARD SALON</h1>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
