@{
  Layout = "_Layout";
}

<h1>Add a Stylist</h1>
<form method="post" action="/stylists">
  <div class="form-group">
    <label for="stylistName">Stylist Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="buttony">Create</button>
</form>
<a href="/">Return Home</a>
