@{
  Layout = "_Layout";
}

<h1>@Model["stylist"].GetName()'s Clients</h1>
<table class="table">
  <tbody>
  @if(@Model["clients"].Count <= 0)
  {
    <h2>@Model["stylist"].GetName() has no clients. Please add clients.</h2>
  }
  @foreach (var client in @Model["clients"])
  {
    <tr>
      <td>@client.GetName()</td>
    </tr>
  }
  </tbody>
</table>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add new client</a></p>
<p><a href="/">Return Home</a></p>
