<h1>Stylists</h1>
<table class="table">
  <thead>
    <tr>
      <th>Stylists</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var stylist in Model)
  {
    <tr>
      <td>@stylist.GetName()</td>
      <td><a href="/stylists/@stylist.GetId()">View Clients</a></td>
    </tr>
  }
  </tbody>
</table>
<a href="/stylists/new">Add New Stylist</a>
