<h1>Add a Client</h1>
<form method="post" action="/stylists/@Model.GetId()/clients">
  <div class="form-group">
    <label for="clientName">Client Name</label>
    <input type="text" name="clientName" class="form-control">
  </div>
  <button type="submit" class="button">Create</button>
</form>
<a href="/">Return Home</a>
