<h1>@Model["stylists"].GetName()</h1>
<table class="table">
  <thead>
    <tr>
      <th>Stylist</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var client in @Model["clients"])
  {
    <tr>
      <td>@client.GetName()</td>
    </tr>
  }
  </tbody>
</table>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add new client.</a></p>
<p><a href="/">Return Home</a></p>
